
.label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 6px;
    background-color: transparent;
    padding: 4px 8px;
}

.normal {
    font-size: 14px;
}
.h1 {
    font-size: 30px;
}
.h2 {
    font-size: 25px;
}
.h3 {
    font-size: 20px;
}

.h4{
    font-size: 18px;
}

.text-primary {
    color: #3d5a80;
}
.text-secondary {
    color: #98c1d9;
}
.text-tertiary {
    color: #ee6c4d;
}

.text-white{
    color: white;
}

.all-caps-on{
    text-transform: capitalize;
}
.all-caps-off{
    text-transform: none;
}

.bg-transparent{
    background-color: transparent;
}

.bg-primary{
    background-color: #3d5a80;
}

.bg-secondary{
    background-color: #98c1d9;
}

.bg-tertiary {
    background-color: #ee6c4d;
}